*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8c52ff;
}
.weather-container{
    padding: 20px;
    background: rgba(255,255,255,0.3);
    max-width: 30vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.6);

}
input{
    margin:10px 0 ;
    font-size: 15px;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid white;
}
.weather-container p{
    color: #fff;
    font-size: 2vw;
    margin: 0 8px;
}
button{
    background: #debff4;
    outline: 0;
    border:0;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    padding: 6px;
    color: rgb(254, 254, 254);
    margin:0 auto;
}
button:hover{
    background: #8b48d7;
}
#weather-icon{
    height:200px;
    width: 200px;
    margin: 0 auto 10px;
    display: none;
    /* display: block; */
    margin-bottom:0 ;
}
.temp-div p{
    font-size: 60px;
    margin-top: -30px;
}
.weather-info{
    font-size: 20px;
}
.hourly-item{
    flex:0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right:10px;
}
.hourly-forecast{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    white-space: nowrap;
    overflow-x:auto ;
}
.weather-hourly img{
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}
.weather-hourly-heading{
    color: #fff;
    margin-top: 10px;
}
p{
    color: #fff;
    margin: 8px 0;
}